   

   body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Subtle background color */
    color: #333; /* Dark text color */
    font-size: 16px;
}
/*--- registration form section--*/

.sign-up-form {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0, 0.3);
    padding:20px;
    margin:8% auto 0;
    text-align: center;
}

.sign-up-form h1 {
    color:#2a7d6b;
    margin-bottom: 30px;
}

.input-box {
    border-radius: 20px;
    padding:10px;
    margin:10px 0;
    width:100%;
    border: 1px solid #999;
    outline: none;
}
button {
    color:fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border:none;
    outline:none;
    cursor:pointer;
}

.signup-btn {
    background-color:#38a987 ;
}

.twitter-btn {
    background-color: #38a987;
}

a {
    text-decoration: none;
}
hr {
    margin-top: 20px;
    width: 80px;
}
or {
    background:#fff ;
    width: 30px;
    margin:-19px auto 10px;
}



/*--- banner section--*/

.banner1,.banner{
    position: relative;
    height: 100vh;
    background: url('./images/image1.jpg') center/cover;
    overflow: hidden;
    margin: 20px 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner1 .content p {
    color: #333;
}

.banner .content {
    color: #fff; /* Light text color for contrast */
}
a {
    text-decoration: none;
}
.banner1-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.banner1-content h2 {
    font-size: 4 vmins;
}

.line {
    width: 150px;
    height: 4px;
    background:#38a987;
    margin: 10px auto;
    border-radius: 5px;
}

.banner1-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.flex{
    list-style-type: none;
    margin:10px;
    padding:30px;
    display:flex;
    justify-content: flex-end;

}

.flex li {
    margin-right: 20px;
}
.button-box {
    display: inline-block;
    margin-left: 10px;
}

.banner {
    position: relative;
    height: 100vh;
    background: url('./images/image1.jpg') center/cover;
    overflow: hidden;
    margin:20px 5px;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width:100%;
    padding: 20px;
    justify-content: space-between;
   
}

.nav-links {
    display: flex;
    align-items: center;
    margin:0  30px;
}

.row{
    display:flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
}

/*----row col---*/

.row .col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row .col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*--row col img--*/

.row .col1 img {
    width: 80%;
}

.row .col2 img {
    width: 60%;
}

/*---row col p---*/

.row .col2 p {
    width: 60%;
    font-style: serif;
    text-transform: lowercase;
}

.row .col1 p {
    width: 60%;
    font-style:serif;
    text-transform: lowercase;
}

/*-----*/

.logo {
    width: 100px; 
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-transform: uppercase;
}


button {
    background-color: #38a987;
    color: #fff;
    padding: 10px 20px;
    font-size: 1em;
    border:2px solid #38a987 ;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #2a7d6b;
}

.auth-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.signup-button,
.signin-button {
    background-color: #38a987;
    color: #fff;
    padding: 10px 20px;
    font-size: 1em;
    border: 2px solid #38a987;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 10px;
    
}

.signup-button:hover,
.signin-button:hover {
    background-color: #2a7d6b;
}

/* events*/

section{
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color:#38a987;
}

.footer{
    background-color: #65707b; /* Background color */
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items:flex-end; /* Align items to the right */
    align-items: center;
}
.footer p {
    margin: 5px 0px;
    font-size:14px;
}

.footer a {
    text-decoration: none;
    color: #38a987;
    text-align: center;
}

.footer a:hover {
    text-decoration: underline;
}


.footer {
    position: absolute;
    width: 100%;
    background: #0E0921
  }
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
  }
  .footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .footer-col .links {
    margin-top: 20px;
  }
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  .footer-col .links li a {
    text-decoration: none;
    color: #8e8c8c;
  }
  .footer-col .links li a:hover {
    color: #fff;
  }
  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
  }
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  .footer-col input {
    height: 42px;
  border-radius: 10px;
  background: none;
  width: 100%;
  outline: none;
  border: 2px solid #7489C6;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;

  }
  .footer-col input::placeholder {
    color: #ccc;
  }
   .footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  .footer-col form button:hover {
    background: #cd942b;
  }
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 47px;
    cursor: pointer;
  }
  .footer-col .icons i {
    color: #ffffff;
  }
  
  .footer-col .icons i:hover  {
    color: #c98c0a;
  }